@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <div class="well">
        <img src="~/Content/Images/logo.jpg" class="img-rounded" alt="logo" style="width: 100%;">
    </div>
</div>