
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<div class="alert alert-danger">
    <div>Error accrued</div>
    <div>Access denied - You are not authorized to access this page.</div>
    <div>@ViewBag.ErrorMessage</div>
</div>